.App {
  text-align: center;
  --background-color: #0c304c;
  --background-color: #04233c;
  background-image: linear-gradient(to bottom, #174a73, #052946, #04233c);
  overflow-y: hidden;
  overflow-x: hidden;
}

.App h1 {
  color: white;
}