.App {
  text-align: center;
  --background-color: #0c304c;
  --background-color: #04233c;
  --background-image: linear-gradient(to bottom, #174a73, #052946, #04233c);
  overflow-x: hidden;
  height: 100%;
  --border: 1px solid white;
}

.App h1 {
  color: white;
}